* {
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    border-radius: 6px;
}

header {
    background: white;
    font-family: 'Pattaya', sans-serif;
    padding: 20px;
    width: 100%;
    margin: 0px;
    box-shadow: 2px 2px 5px rgb(36, 36, 36);

}

body {
    background: linear-gradient(#35BEC4, #276C9F);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}

.container {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 1080px;
}

#vert-line {
    border-radius: 0px;
    border-right: lightgrey solid 1px;
}

.animal-gif {
    margin: 10px;
}

#added-buttons {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.animal-btn {
    margin: 0px 5px 5px 0px;
    background: white;
    border: lightgrey solid 1px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgb(36, 36, 36);
}

#animal-input {
    margin: 0px 0px 0px -5px;
    width: 162px;
}

#add-animal {
    margin-bottom: 10px;
    background: white;
    border: lightgrey solid 1px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgb(36, 36, 36);
}

#animal-input {
    margin-top: 10px;
    margin-bottom: 10px;
}

#animal-form {
    margin: 0px;
    text-align: left;
}